{% extends 'base.html.twig' %}

{% block title %}Accueil - Ma Boutique{% endblock %}

{% block body %}
<main class="bg-gray-50">
  <div class="container mx-auto px-4 py-8">
    
    <!-- Bannière carrousel (sera ajoutée après) -->
    {% include 'partials/banner.html.twig' with {'categories': categories} %}
    
    <!-- Section produits phares -->
    <section class="mt-12 mb-16">
      
      
      <!-- Grille produits (sera ajoutée après) -->
      <div id="featured-products">
        {% include 'partials/products.html.twig' with {'productsByCategory': productsByCategory} %}
      </div>
    </section>
  </div>
</main>
{% endblock %}