{% extends 'base.html.twig' %}

{% block title %}Éditer l'adresse{% endblock %}

{% block body %}
<h1>Éditer l'adresse</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('admin_address_list') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
